<form action="<%= goal_comments_url %>" method="post">
  <%= auth_token %>

  <label>Add Comment<br>
    <textarea name="comment[body]" rows=1 cols=40></textarea>
  </label>

  <input type="hidden" name=comment[commentable_type] value="Goal">
  <input type="hidden" name=comment[commentable_id] value="<%= @id %>">

<br>

  <button>Add Comment</button>
</form>
