<form action="<%= goals_url %>" method="post">
  <%= auth_token %>

  <label>New Goal<br>
    <textarea name="goal[goal_text]" rows=1 cols=40></textarea>
  </label>

<br>
  <label>Flag
    <select name="goal[private]">
      <option value="true">Private</option>
      <option value="false">Public</option>
    </select>
  </label>

  <button>Create Goal</button>
</form>
